[Unit]
Description=Rifki Worker Service
After=network.target

[Service]
User=root
ExecStart=/usr/local/bin/rifki-worker.sh
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
